[2013-01-08 18:32] alireza-hosseini opened #1 "SXGA RGB image support for AsusXtionProLive"
I am using Asus Xtion Pro Live Sensor and the openni_camera for my project,
The issue is when i reconfigure openni_node to publish RGB images with SXGA resolution using dynamic_reconfigure_gui it gives us following warning and RGB image keeps publishing with 640x480 resolution:

[ WARN] [1349881911.100499691]: Could not find any compatible image output mode for 1280 x 1024 @ 15. Falling back to de

[2013-01-09 03:58] jonbinney commented on #1
Hmm... I'm not able to view the xtion image with /usr/bin/NiViewer in the openni-utils package. When I run it i get:

[code]

Is that the executable you use to view SXGA resolution images from the xtion? Could you run "dpkg -l|grep openni" and post the result so I can make sure we have that same versions of things?

[2013-01-09 06:46] alireza-hosseini commented on #1
Actually i have got the the same error using the recent openni (1.5.4.0-3+precise1) and sensor(5.1.0.41-2+precise1) packages from ROS repository.So I manually installed OpenNI-Bin-Dev-Linux-x64-v1.5.2.23  and Sensor-Bin-Linux-x64-v5.1.0.41 downloaded from Openni Github and the problem solved. NiViewer worked properly and also SXGA RGB image resolution Viewed successfully.
It seems that libopenni-s

[2013-01-09 07:04] jonbinney commented on #1
The openni packages in the ros repos are patched to work with the kinect, but also work with the xtion.  As you've noticed though, they don't support SXGA resolution.  I'll try this tomorrow with the openni packages from github.

[2013-01-11 01:08] jonbinney commented on #1
I managed to get SXGA images from the Xtion, but to do so I had to change formats and have the Openni drivers output RGB24 instead of YUV422. For some reason this seems to have broken the VGA and QVGA resolution outputs.

[2013-01-11 05:36] jonbinney commented on #1
Here are the changes needed to make openni_camera do SXGA resolution with the xtion: https://gist.github.com/4508201

It's not stable enough to apply to the repo and release (for example it breaks the VGA and QVGA modes), but maybe being able to compile from source will be enough for you.  A proper fix would require more changes; for instance it would probably require some logic to have the xtion

[2013-01-11 08:13] alireza-hosseini commented on #1
Thanks a lot jon, i think only SXGA RGB image would be enough for my project, but of course i would be glad to help you in fixing the code. I will do my best to handle SXGA along with other image modes, actually i need some time to read and understand the logic of the code. I will keep you posted ;-)

[2013-01-11 19:01] jonbinney opened #2 "add diagnostics to openni_node"
So it can appear in the Diagnostics stream like all the other cameras and sensors.

(Migrated from kforge: https://kforge.ros.org/openni/trac/ticket/44)

[2013-01-11 19:06] jonbinney opened #3 "improving processing nodelets in openni_launch"
Migrated this from kforge: https://kforge.ros.org/openni/trac/ticket/63

Patch is here: https://gist.github.com/4513079

The launch files in openni launch can be improved with greater argument control to make it easier to launch a specific subset of processing nodelets.
A patch is attached. To see example usage of launch a specific subset of nodelets, check out the freenect_launch package (forked

[2013-01-11 19:07] #3 closed, assigned to nobody

[2013-01-11 19:08] jonbinney commented on #3
This is on the openni_launch repo now: https://github.com/ros-drivers/openni_launch/issues/1

[2013-01-11 19:10] jonbinney opened #4 "openni_camera: add support for oni files"
Currently it is not possible to start the openni_launch toolchain using oni files as input. The attached patch adds the possibility to start an openni_camera nodelet that reads from an oni file. Reuses the device_id property for this.

Patch: https://gist.github.com/4513125

[2013-01-11 19:30] jonbinney opened #5 "openni_camera nodelet crashes when switching to QVGA 30Hz"
I've the following problem with my kinect and the openni_camera driver:
If I launch the openni_camera nodelet with roslaunch openni_launch openni.launch and afterwards change the image_mode and depth_mode via dynamic_reconfigure to QVGA_30Hz and then subscribe to camera/rgb/image_mono or camera/rgb/image_color the nodelet crashes with the following error:

**\* glibc detected **\* /opt/ros/electri

[2013-01-12 00:57] jonbinney opened #6 "Launch file for playing back raw data"
Should be possible to record just camera/depth/image_raw and camera/rgb/image_raw, at 3 bytes/pixel, then play it back like a running system.
Blocked on separate debayer nodelet.

Migrated over from https://kforge.ros.org/openni/trac/ticket/18

[2013-01-12 01:06] jonbinney opened #7 "Evaluate whether depth readings from OpenNI are absolutely correct"
Experience with Bullet Time suggests that relative depths are correct - i.e. moving the checkerboard .5m further away gives a .5m difference in the detected depth. However there may be an offset required to get the true absolute depth. If there is an offset, come up with a calibration procedure for it.
Can apply by either:
Update values of raw depth image
Change IR camera frame relative to RGB cam

[2013-03-10 15:52] pirobot opened #11 "ROS Electric openni_node no longer publishes /camera/rgb/points correctly"
Before the OpenNI update back in December 2012, one could run:

$ roslaunch openni_camera openni_node.launch

then subscribe to the topic /camera/rgb/points in RViz and view the XYZRGB pointcloud.  Now, as soon as the topic is subscribed to, a message appears in the openni_camera window that says:

[ WARN] [1362930566.478614323]: turning on depth registration, since PointCloudXYZRGB has subscriber

[2013-03-11 01:25] jkammerl commented on #11
Hi Pirobot,

if depth registration is activated, openni_launch switches from /camera/depth/[points,image,image_raw] to /camera/depth_registered/[points,image,image_raw]. Could you test if subscription to /camera/depth_registered/points works for you?

Best,
Julius

[2013-03-13 08:17] jonbinney commented on #11
This should be easy to achieve using a remapping in the launchfile: http://www.ros.org/wiki/roslaunch/XML/remap

for example, you can create your own copy of openni.launch which has

[code]

[2013-03-13 16:11] chadrockey commented on #11
Oooo, interesting?  So the new functionality is that all colorized pointclouds use registered depth images?

The old behavior was (I think):
depth/points -> Uncolorized pointcloud generated from depth/image_raw
depth_registered/points -> Uncolorized pointcloud generated from depth_registered/image_raw
rgb/points -> Colorized pointcloud generated using depth or depth_registered depending on which w

[2013-03-29 21:35] joaoc opened #13 "Bug in registration - NaN in PointCloud"
On some PCs the registration show a bug.

If you enable it, your PointCloud will only have NaN, and some reports that the depth image gets all gray(no real image).

Ros answers have allot of this issues, and a possible solution is to install the OpenNi + Nite binaries (http://answers.ros.org/question/53706/registered-depth-image-is-black/#53832) and (http://answers.ros.org/question/54951/kinect-de

[2013-04-01 17:55] jonbinney commented on #13
Are there any errors in the output of openni_camera when you run it? Are you using a kinect or an xtion?

[2013-04-02 11:10] joaoc commented on #13
There are no errors running openni_camera except for those related with the advertise of topics already advertised:

[ERROR] [1351028964.484342461]: Tried to advertise a service that is already advertised in this node [/camera/depth_registered/image_rect_raw/compressedDepth/set_parameters]
[ERROR] [1351028964.489915028]: Tried to advertise a service that is already advertised in this node [/camera

[2013-04-03 06:36] jkammerl commented on #13
Are you using the patched libopenni drivers or did you directly install the unpatched openni sources?

[2013-04-03 16:48] joaoc commented on #13
I'v just install the ros-groovy-openni-camera and ros-groovy-openni-launch and got this problem (NaN's on the depth_registered pointclound).
Tried to remove the openni-camera and openni-launch, install the OpenNi, sensor (avin2), and NITE binaries (as stated in one of the links i passed) and it works ok (the samples provided with them).  when i reinstall the openni-camera and openni-launch the pro

[2013-04-03 17:43] jkammerl commented on #13
As far as I know, the Kinect does not provide hardware depth-color registration. You should definitely use the ros debians of libopenni that can be found on the ROS PPA as they are patched to simulation hardware synchronization for the Kinect. Is it possible that you are mixing up different versions of openni? The openni_camera package doesn't work with the Kinect if you directly install the unpat

[2013-04-04 01:11] joaoc commented on #13
as i said on the OP i only install OpenNi binaries as possible fix to this problem (that didn't solve noting). On a fresh ubuntu 12.04, ros groovy and ros-groovy-openni-camera /ros-groovy-openni-launch install i get this problem, so its not related to the user mixing up versions. it didn't work from the start.

what i did after (when i saw that the depth_registration didn't work) was to follow the

[2013-04-04 21:29] jkammerl commented on #13
These instructions tell you how to generate a openni debian from source. Since you didn't compile the patched version of openni that enables depth registration with the Kinect, it doesn't work for you.

[2013-04-04 21:35] joaoc commented on #13
maybe i didn't understand your answer.

The OpenNi program i compile works fine by itself on a kinect. But the openni-camera that i install with ros doesn't work ( on the depth registration aspect) from the beginning.

where is that patched version? do i need to uninstall the version i have and compile that instead?

[2013-04-09 18:39] jkammerl commented on #13
The easiest way would be to remove all openni installations from your system and reinstall openni_camera. This should pull in the correct and patched version of openni directly from the ROS PPA.

[2013-04-11 15:54] joaoc commented on #13
But that would put me in the begginig with the same problem because i started with only the openni stuff from ROS PPA.

Honestly i don't think this is a user problem, but a a program bug.

Why it works fine with openni source code (from OpenNi.org) compiled on my  pc and your version doesn't work?

[2013-04-17 09:42] joaoc commented on #13
new information.

I've install on a dual-boot configuration ubuntu 12.04 64 bits (the other is ubuntu 12.04 32bits).
It happens that in the 64 bits version i don't have any problems, every thing works fine just installing the ros-groovy-openni-camera and launch, and i can enable the depth_registration flag.
With the 32bits, doing the same thing with the same commands it has this bug.

It makes me

[2013-04-19 17:53] advaitjain commented on #13
confirming that I see the problem with on a 32 bit machine but not on 64 bit machines. with Groovy and openni_camera on both the 32 and 64 bit machines.

[2013-04-19 17:56] jkammerl commented on #13
@joaoc Does this issue exist if you compile and run the openni_camera package from source (on 32bit)?

[2013-04-20 17:44] joaoc commented on #13
Yes, i tried to clone the git and compile, and i had the same problem

[2013-04-22 07:00] hcw70 opened #15 "OpenNi2-Camera"
Hi.

Are there any plans to port OpenNi-Camera to OpenNi2?

This would be needed for RaspberryPi esp. since there the OpenNi2 runs well while OpenNi does not. See https://groups.google.com/forum/#!topic/ros-sig-arm/6XgbkvnL3GM for some details.

Regards Hauke

[2013-04-22 18:19] jkammerl commented on #15
Hi Hauke,

yes, it is on my list! I'll keep updated.

Cheers,
Julius

[2013-05-07 02:21] jkammerl commented on #15
Your'll find the openni2_camera package here:
https://github.com/ros-drivers/openni2_camera

As soon as the openni2 debians are available within ROS, I'll trigger an official deb release.

[2013-05-07 02:21] #15 closed, assigned to nobody

[2013-05-24 12:41] kai-chen-ustc commented on #13
I also encountered this problem today, after updating to the latest libopenni-dev (replaced openni-dev) and all the depth_registered/points are filled with NaN. I am running openni_launch/openni.launch from ubuntu 12.04 32bit.

Anyone knows why 64-bit version is OK while the 32-bit one is not?

[2013-06-01 07:51] jonbinney commented on #4
For the time being, lets stick with ROS bags as the standard way of saving and playing back camera data. If people have a compelling use case, we could reconsider this at a later time.

[2013-06-01 07:51] #4 closed, assigned to nobody

[2013-06-01 07:55] jonbinney commented on #11
It sounds like the only reason to use colorized, non-registered point clouds is CPU usage. Can anyone confirm that there's a big difference in processor usage?

[2013-06-01 07:56] jonbinney commented on #1
I'm going to go ahead and close this issue since I don't plan on adding this in anytime soon. If you get it working reliably, reopen as a pull request.

[2013-06-01 07:56] #1 closed, assigned to jonbinney

[2013-06-01 07:58] jonbinney commented on #13
I've still  not seen this problem, but that could be because I'm only using 64-bit. Anyone have an idea how to fix this?

[2013-06-01 07:58] jkammerl commented on #1
Note that the openni2_camera package does support SXGA RGB streaming:
https://github.com/ros-drivers/openni2_camera

[2013-06-01 07:59] jonbinney commented on #6
This should now be possible by launching the appropriate nodelets. I'm not planning on adding a sample launchfile to do this, but if someone contributes one I'd be happy to merge it in.

[2013-06-01 07:59] #6 closed, assigned to nobody

[2013-06-01 08:00] jonbinney commented on #5
This is pretty old and I've not seen this recently, so I'm closing this. If anyone sees this issue, please re-open.

[2013-06-01 08:00] #5 closed, assigned to nobody

[2013-06-01 08:03] jonbinney commented on #2
I don't expect this to be added, so i'm closing this for now.

[2013-06-01 08:03] #2 closed, assigned to nobody

[2013-06-01 08:03] #7 closed, assigned to nobody

[2013-06-01 09:11] kai-chen-ustc commented on #13
Yes, this problem was reported only to appear on 32-bit systems. Still don't know why.

[2013-06-21 00:50] bit-pirate commented on #15
Which version of Nite will come with it?

[2013-06-21 02:15] jonbinney commented on #15
Openni_camera2 doesn't include any version of Nite; it's just a ROS driver for getting sensor data from an xtion.

[2013-06-21 02:21] bit-pirate commented on #15
True, I realised that, when test-driving openni2. :-)
I have to look into the openni_tracker then.
Thanks for the info!

[2013-06-21 02:22] bit-pirate commented on #15
Btw, could you guess, when the openni2 debs (camera and launch) will be available? Will you release them into Groovy as well?

[2013-06-21 06:25] jonbinney commented on #15
It looks like it's already out. If you have the ros repos and you do

[code]

you should be able to get them and give openni2_camera a try. It's pretty untested and might not yet have all the features that openni_camera had, but It'd be great to have people start trying it.

[2013-06-21 06:30] bit-pirate commented on #15
I already did that and it's running smoothly. :-) Nice job!
Just wondering when the ROS debs will be available.

2013/6/21 jonbinney notifications@github.com

##

Marcus Liebhardt
Adresse: Zimmer 403, 634-1 Seongsan-dong, Mapo-gu, 121-846, Seoul, Republik
Korea
Address: Room 403, 634-1 Seongsan-dong, Mapo-gu, 121-846, Seoul, Republic
of Korea
주소: 대한민국 서울특별시 121-846 마포구 634-1 성산동 4 층 403 호
Mobile /

[2013-06-21 06:34] jonbinney commented on #15
I can release it into hydro in the next  couple weeks, but I don't have much time to maintain or implement missing features, so pull requests will be welcome :-)

[2013-06-21 07:05] bit-pirate commented on #15
Fair enough! A release would be nice.
We probably will have a person here testing and working with it, so we might can give something back.

I'm a bit greedy though: could we also get it for Groovy? :)

[2013-06-21 23:02] jonbinney commented on #15
Yeah, you're probably right that we should also release into groovy as well. I started on this today, but got blocked by a library path problem. I've created a ticket for doing the release here: https://github.com/ros-drivers/openni2_camera/issues/11

[2013-06-26 09:12] Rouno commented on #15
Dear Jon, here is something I found interesting and that might help you : http://computervisionblog.wordpress.com/2013/06/09/hands-on-capri-building-an-openni2-ros-interface/

This guy managed to have a capri sensor (new tiny kinect) and set openni 2 up in ros.

Best regards

[2013-07-29 12:02] robevans opened #18 "OpenNI Driver fails to set USB interface after update to 1.8.9"
When using an Asus or PrimeSense depth camera, ros_groovy_openni_camera 1.8.9 "fails to set USB interface" and crashes, before continually relaunching unsuccessfully.

The depth cameras work properly with NiViewer.

Reverting to 1.8.8 fixed the problem.

[2013-07-29 18:57] jonbinney commented on #18
Looks like there have been a bunch of commits between 1.8.8 and 1.8.9; not sure which of them might have caused this. Might help if you could download openni_camera from source and try to narrow down which commit caused the error.

[2013-07-30 17:21] robevans commented on #18
The commit on June 1st works, but the commit on June 20th does not.

Attached is the output when I use the June 20th code: http://pastebin.com/quhg534e

[2013-07-30 18:09] jonbinney commented on #18
In that case the problem started after merging this pull request: https://github.com/ros-drivers/openni_camera/pull/16

It worked in my testing (with an asus xtion). @forouher, any ideas what might cause this?

[2013-08-05 12:00] forouher commented on #18
I've found another place where strings from within openni are overwritten. It is a longshot, but you might want to give this a try (i can't test this myself at the moment; however it looks sufficiently simple that it should at least compile ;)

https://github.com/forouher/openni_camera/commits/asus-serial

Failing that, a backtrace from the nodelet manager might help.

[2013-08-07 09:37] robevans commented on #18
@forouher I tried your new commit - afraid it still doesn't work for me (it does compile though!).  Perhaps it's worth mentioning that I'm using Ubuntu 12.04.  I'm not sure how to produce a backtrace from the nodelet manager...?

[2013-08-07 14:26] forouher commented on #18
(this assumes you're starting the driver using "roslaunch openni_launch
openni.launch")

Open openni_launch/launch/openni.launch

change

<arg name="debug" default="false" />

to

<arg name="debug" default="true" />

This should open a terminal with the gdb prompt waiting for your input
(you may have to install the ubuntu package "xterm").

You have to enter

[code]

to actually start execution (s

[2013-08-08 16:26] robevans commented on #18
Here it is, a backtrace from "roslaunch openni_launch openni.launch" with your latest commit:

[code]

[2013-08-14 08:43] forouher commented on #18
Hi,

sorry, but I still cannot identify the problem. I just tried to reproduce the problem with 1.8.9 upstream, but (un)fortunately it works on my machine. And neither backtrace nor the debug infos are giving away any clues.

My best guess is that querying the serial number at that time/place is violating some interface semantics of libopenni. Alas, I don't have time at the moment to search the op

[2013-08-30 03:34] andrew-ang commented on #18
Hi,

I'm facing this problem too. I currently have 1.8.9 at the moment, installed using "sudo apt-get install ros-groovy-openni-camera". How can I go about reverting to the older version 1.8.8, so that I won't encounter this problem?

[2013-08-30 05:26] jonbinney commented on #18
If you want to use 1.8.8 I think you'll need to compile from source right now. I plan to roll back to 1.8.8 and do a release in a couple of days.

[2013-08-30 06:26] andrew-ang commented on #18
I tried to compile the code for 1.8.8, but I'm getting a fatal error saying that XnCppWrapper.h is not found, at line 46 of openni_camera/include/openni_camera/openni_device.h. I have the file XnCppWrapper.h located in /usr/local/include/ni, which is the default location. Do you know how I can go about fixing this?

[2013-08-31 11:06] jonbinney commented on #18
I just tried compiling and it worked for me (on ros Groovy, ubuntu 12.04, on a 64 bit machine). I see XnCppWrapper.h in /usr/include/ni  (not /usr/local). That file comes from the deb libopenni-dev. How did you install the openni libs?

You should be able to get all the dependencies by doing

[code]

[2013-08-31 11:26] jonbinney commented on #18
@andrew-ang when you get it to compile, can you try using the `rollback_usb` branch and verify that it works for you? I've reverted the commits that were causing the segfault (I think). I've also created a a branch of hydro-devel with those commits fixed called rollback_usb_hydro. As soon as I get confirmation that it fixes the crash people are seeing, I'll merge these branches into groovy-devel a

[2013-09-02 01:38] andrew-ang commented on #18
@jonbinney I installed openni from here: http://www.openni.org/openni-sdk/openni-sdk-history-2/. I downloaded the SDK v1.5.4 and the driver v5.1.2.1, untarred them, and then ran their install scripts. I just tried using the rosdep command you suggested, but it doesn't help; I'm still getting the error saying that XnCppWrapper.h can't be found. I just checked the OpenNI v1.5.4 install script: in li

[2013-09-02 02:58] jonbinney commented on #18
@andrew-ang the version of the openni library in the ROS repostories is not the same as the one from openni.org. It's been modified. I suspect that you need to remove the one you have from source (the stuff in /usr/local/ni), and install openni debs using:

[code]

If that doesn't work, please post the output of the following commands:

[code]

[code]

[code]

[2013-09-02 03:13] andrew-ang commented on #18
@jonbinney It compiles now! But, how do I install openni_launch to test if the problem is solved? When I try to do sudo apt-get install ros-groovy-openni-launch, it tells me that extra packages will be installed: ros-groovy-openni-camera. Won't the two openni_camera packages conflict? EDIT: should I install openni_launch from source? If so, should I install the latest version?

[2013-09-02 06:24] andrew-ang commented on #18
@jonbinney I installed openni_launch from source and tried to run `roslaunch openni_launch openni.launch` and got the following output:

[code]

Seems like the error about setting USB interface still persists, and there's another issue about the depth generator

[2013-09-02 10:46] jonbinney commented on #18
It shouldn't matter whether you use openni_launch from source or from debs; this looks like a problem with openni_camera itself. And it also should matter if you install the openni_camera debs - as long as you source devel/setup.bash, rosrun will first look for things in your local catkin workspace (the stuff you compiled from source).

You switched to the rollback_usb branch before compiling, rig

[2013-09-02 23:55] georgebrindeiro-vtex commented on #18
I think I am having the same problem as everyone else. I am quite convinced the issue is with 32-bit machines, since everything works fine on my 64-bit desktop but not on my 32-bit robots! Using Fuerte (whose openni_camera version is < 1.8.9) works for me, but not Groovy or Hydro. I'm going to try to compile from source and see what happens!

**EDIT**: Using Fuerte **used** to work. I should note

[2013-09-03 01:20] andrew-ang commented on #18
@jonbinney Apologies, the output I previously produced was NOT the rollback_usb branch; it was the code I checked out labelled 1.8.8: https://github.com/ros-drivers/openni_camera/tree/ee00cb1cac2a60d4023eeda0ecb6c5e59f36a6af. But in any case, I checked out rollback_usb, and it seems like the output is the same. I'll paste it here just in case:

[code]

And, when using `./devel/lib/openni_camera/op

[2013-09-04 09:23] robevans commented on #18
@jonbinney the rollback_usb branch works for me.

[2013-09-09 04:24] andrew-ang commented on #18
@robevans are you running on a 32-bit or a 64-bit machine? Can you describe your development environment and installation process please?

[2013-09-09 09:52] robevans commented on #18
@andrew-ang I'm running 64-bit Ubuntu 12.04, and I originally installed ros-groovy-desktop-full from this tutorial: http://wiki.ros.org/groovy/Installation/Ubuntu

I have a catkin workspace (this tutorial covers how to make one: http://wiki.ros.org/catkin/Tutorials/create_a_workspace).  In my ~/.bashrc file I added the workspace to my ROS_PACKAGE_PATH (by appending `export ROS_PACKAGE_PATH=~/catki

[2013-09-12 18:56] georgebrindeiro-vtex opened #19 "Cannot install openni_camera from apt-get"
After a clean install of ROS Groovy/Hydro, I cannot install openni_camera.
Here's the output I get:

<pre>georgebrindeiro@r2d2:~$ sudo apt-get install ros-hydro-openni-camera
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
dis

[2013-09-17 21:23] wjwwood commented on #19
@tfoote

[2013-09-17 22:36] tfoote commented on #19
There should be nothing depending on openni-dev can you make sure the ros-hydro-pcl is removed and do a dist-upgrade

[2013-09-17 22:49] georgebrindeiro-vtex commented on #19
@tfoote ros-hydro-pcl is not installed, all my packages are updated. Should I not be using Ubuntu 12.04?

[2013-09-17 22:55] tfoote commented on #19
I'm running 12.04 and am relatively up to date: I have both groovy and hydro openni-camera installed with libopenni-dev

[code]

[2013-09-18 18:52] georgebrindeiro-vtex commented on #19
I purged all ROS, PCL and OpenNI packages and, after a world of pain dealing with broken packages, figured that the problem was that I had some stuff lying around from an old standalone PCL installation. So I removed that as well, along with the associated ppa and now I have a working system. Thanks for the support!

[2013-09-18 18:52] #19 closed, assigned to nobody

[2013-11-12 04:17] andrew-ang commented on #18
I had a new install of Ubuntu 12.10 on a new machine, and 1.8.8/rollback_usb worked. I don't know whats wrong with my first machine though, it just didn't work.

[2013-11-27 14:15] kai-chen-ustc commented on #18
I have the same issue, here is the detailed description of the problem:
http://answers.ros.org/question/105296/primesense-carmine-not-working-under-groovy-but-works-in-fuerte/

[2014-01-11 01:47] dirk-thomas opened #21 "Missing explicit dependency and include on log4cxx"
In the latest version of rosconsole the strict dependency on log4cxx has been removed. Now `openni_camera` (http://jenkins.ros.org/view/HbinP32/job/ros-hydro-openni-camera_binarydeb_precise_i386/27/console) fails to build since it relied on the transitive dependency.

Please make the dependency on log4cxx explicit and import the necessary header file.

[2014-01-11 03:56] piyushk commented on #21
Solution pending discussion on ros-drivers/hokuyo_node#8

[2014-01-15 16:05] dirk-thomas commented on #21
Please address the missing explicit dependency on log4cxx to unbreak the build on the farm.

[2014-01-17 20:55] tfoote commented on #21
Fixed in 00c71c3

[2014-01-17 21:49] jack-oquin commented on #21
I don't think the fix above is complete, yet.

It is hard to test it on my own system which has the released version of ros_comm, containing this in `ros/console.h`:

[code]

For years, that had provided log4cxx symbols to the namespace of _every_ program containing `#include <ros/ros.h>`.

Making that change in the "stable" Hydro release was a really bad idea. We should have followed the advice o

[2014-01-17 22:54] tfoote commented on #21
Fixed in 9914fe09efcb2140efd8e653a04f3aae8e93351b and building on the farm.

[2014-01-17 22:54] #21 closed, assigned to nobody

[2014-05-05 23:45] LiliMeng commented on #19
Hi,

I have similar problems as following:

The following information may help resolve the situation:

[code]

Thank you!

[2014-05-06 00:10] wjwwood commented on #19
@LiliMeng what version of Ubuntu?

[2014-05-06 00:16] LiliMeng commented on #19
12.04 :) @wjwwood

[2014-05-06 00:49] wjwwood commented on #19
@LiliMeng fuerte is no longer supported, so if there is a problem with the debs we will likely not spend time on that, but I don't know why it should have stopped working all of a sudden. Make sure you do an `sudo apt-get update` before installing again and make sure you are only using our package repository and not others which may have different versions of `libopenni-dev` in them.

@tfoote you

[2014-05-06 00:55] tfoote commented on #19
I have openni installed for fuerte and groovy on my _precise_ machine.

[code]

Make sure that you don't have openni-dev installed. It conflicts with libopenni-dev I believe.

[2014-05-06 01:10] wjwwood commented on #19
Sorry, I meant Precise.

[2014-05-06 04:29] LiliMeng commented on #19
Thank you so much for you guys kind help!

@tfoote  It seems that you have both openni-dev and libopenni-dev  installed from your configuration.

The following is my results:
$ dpkg -l _openni_
Desired=Unknown/Install/Remove/Purge/Hold
| Status=Not/Inst/Conf-files/Unpacked/halF-conf/Half-inst/trig-aWait/Trig-pend
|/ Err?=(none)/Reinst-required (Status,Err: uppercase=bad)
||/ Name           Version

[2014-05-06 04:54] LiliMeng commented on #19
So I used $sudo apt-get --purge remove openni-dev

Then $ sudo apt-get install ros-hydro-openni-camera works, but when I try to $ sudo apt-get install ros-hydro-openni-launch, it said the following in the terminal:

Reading package lists... Done Building dependency tree
Reading state information... Done Some packages could not be installed. This may mean that you have requested an impossible situa

[2014-05-06 05:01] tfoote commented on #19
I don't have openni-dev installed. Note the "un" at the beginning of the line.

Apt is terrible for debugging. You can get a little bit better error messages by using aptitude. But otherwise you will need to recursively ask to install the one that it says it can't install until you get a useful error message.

[2014-05-06 05:12] LiliMeng commented on #19
Thank you so much for your quick and kind advice!
I installed libopenni-dev and uninstalled openni-dev as you! :)

But now it turned out to be an egg-chicken problem...
1. The following packages have unmet dependencies: ros-hydro-openni-launch : Depends: ros-hydro-rgbd-launch but it is not going to be installed E: Unable to correct problems, you have held broken packages.

    Therefore, I did $ s

[2014-05-06 05:54] tfoote commented on #19
ahh, what are your apt sources? do you have the PCL ppa on your path?

[2014-05-06 07:01] LiliMeng commented on #19
@tfoote   You mean the ppa sources under the directory /etc/apt/sources.list.d?
It doesn't have PCL ppa under this directory.

[2014-05-06 08:01] tfoote commented on #19
I think that's your problem. The PCL debs on precise use the old drivers. In the ROS repos they use the newer openni drivers. If what I think is right we had a debian increment such that the ROS ones took priority over the PCL ones and had the newer libopenni dependency. However I think that pcl has released a new package version which now takes priority.

As a workaround you can see if you can fo

[2014-05-06 21:40] LiliMeng commented on #19
Thank you so much! It seems that the pcl cannot be installed.

The following packages have unmet dependencies:
 libpcl-all : Depends: libpcl-1.7-all but it is not going to be installed
E: Unable to correct problems, you have held broken packages.

Other users have similar problems on this webpage :  http://www.pcl-users.org/unmet-dependencies-error-when-installing-on-ubuntu-td4029063.html
I'll try

[2014-05-07 06:27] LiliMeng commented on #19
Finally it works when I reinstalled Ubuntu 12.04 and Hydro!!! :) It seems that I have installed too many versions of ROS and pcl too many times! (over 30 times...) :)

Learned a lot from you guys! Highly appreciate all your help!:)

[2014-05-15 15:02] jack-oquin opened #23 "need Indigo release"
Ref: ros-drivers/openni_launch#16

[2014-05-16 16:58] jack-oquin commented on #23
I copied the hydro-devel branch to indigo-devel, but left hydro-devel as the default.

The rosdistro update is needed for running pre-release tests on the source.

@jkammerl: Please forgive my presumption. I'll back it all out if you object.

[2014-05-16 20:07] jack-oquin commented on #23
Pre-release test works.

Released 1.9.2 to Indigo.

[2014-05-16 20:07] #23 closed, assigned to nobody

[2014-08-19 09:44] TarekTaha opened #24 "Depth only Sensors - No point cloud"
I am trying to use the openni_camera with depth only sensors "Xtion Pro" and "Occipital Structure Sensor", but both fail to generate point clouds /camea/depth/points. I tried to trace down the problem, but so far no success, I am more than happy to fork the repository and modify the code accordingly, but I need some pointers to isolate the problem. Any hits ?

[2014-08-19 09:45] TarekTaha commented on #24
BTW, i can get the IR images and the depth images. At launch it complains about the unknown format RBG888, but continue loading correctly.

[2014-08-19 14:08] iluetkeb opened #25 "depth registration has large offset"
I'm seeing large (>10px) offsets between depth and rgb information from a Kinect, when running on Ubuntu 14.04. For an example, see this rviz screenshot of a wooden table leg (in bright cyan) lying on a table: On the left, part of the surface is shown at a larger depth than actual, vs. on the right, part of the leg is missing.
![shot](https://cloud.githubusercontent.com/assets/289154/3967067/de4d7

[2014-08-20 10:53] TarekTaha commented on #24
I tried to follow the .launch files and trace down the issue. I traced the problem down to the depth.launch.xml , the section that calls the depth_image_proc/point_cloud_xyz nodelet doesn't get  any image_rect_raw because this rectified version of the raw images is not being generated by image_proc/rectify. I tried to use the image_raw instead of image_rect_raw to generate the pointcloud and it do

[2014-09-18 20:27] jbohren opened #27 "Kinect RGB image showing all black after running for a few hours"
This is something I haven't seen before, and seems to have only started happening recently. Basically after running a kinect for a while, the rgb image starts appearing all black (all zeros, not NaNs like in #13, also this is on a 64bit machine). The point cloud still looks perfect, but the color information is all gone. It then flickers with a single (or partial) frame every few seconds. I'm runn

[2014-09-18 21:10] jbohren commented on #27
Also this is happening with multiple devices.

[2014-09-25 00:32] jonbinney commented on #27
At willow we started seeing this with the kinects. It was a hoooooorribly hard to track down error. We would see some images that were black at the top, and then the black region would grow (and it would flicker). Eventually the images would be all black. We only saw this on certain PR2s, and only after running them for a loooong time. We suspected a locking bug in the underlying openni library, o

[2014-09-26 14:20] e1000i opened #28 "Device ids with only numbers won't load the camera."
When using a device with only numbers as its id the driver won't load the proper camera unless it is the first device.

This case fires the warning telling you that there is no device ide set besides it is set in the param server, but as integer:

[code]

I supose the argument is not properly parsed.

[2014-09-26 14:28] e1000i commented on #28
I found where this happens, i will fix it and send a pull request.

[2014-09-26 14:52] e1000i commented on #28
I'm still developing and using hydro but I applied the patch also in Indigo branch, which had the same issue. Hope is everithing correct. I did not figure out how properly set a automatic test case, but if you want to reproduce the issue a test the patch try to use a integer ID like mine to launch openni.

[code]

Without the patch you should get the warning I posted before without the patch. With

[2014-11-21 03:26] jbohren commented on #27
Something else that I noticed that was strange is that the bad kinect is reporting serial number `0000000000000000` did you see anything similar?

[2015-01-15 18:09] jbohren commented on #27
This also affects the depth image, and is still broken. Switching to `freenect` instead.

[2015-01-20 17:47] ahoarau opened #31 "camera_info_url empty when calib files at default location"
When I calibrate my kinects (using the ros calibrator.py), it is saving the files at :

[code]

But the openni driver does **not** populates

[code]

I opened a [pull request](https://github.com/ros-perception/image_common/pull/30) for the camera_info_manager, but meanwhile we can add this **patch** :

[code]

below :

[code]

And **then** :+1:

[code]

[2015-01-20 20:36] jack-oquin commented on #31
It does not seem appropriate to me for the driver to set its own values in the parameter server. That is not normal ROS node behavior.

If a parameter is null or not set, nodes will normally provide a default. But, changing the parameter value is not normally done at that level.

Why is this needed?

[2015-01-21 12:04] ahoarau commented on #31
I'm trying to work with the [python version](https://github.com/ros-perception/camera_info_manager_py) which cannot access to the camera's serial number (it's not the driver, so it makes sense), so it cannot get the default depth_${serial}.yml and and rgb_${serial}.yml.

[code]

returns :

[code]

A way to get the loaded calibration file would be to use the parameter server and then use the url ar

[2015-01-21 22:05] jack-oquin commented on #31
If I understand the problem, you are trying to access the calibration information in a Python script. But, the default URL contains ${NAME} and the camera serial number is not known to that script, so it can't be resolved there. Is that right?

The reason why the URL is provided as a parameter is to allow a system integrator to store it in any convenient location. They default location was chosen

[2015-01-22 08:03] cottsay opened #32 "Broken with `-Werror=format-security`"
There are some places in `openni_camera` where supposedly "untrusted" format strings are used for IO. When `-Werror=format-security` is used, this yields errors in compilation.

This flag has been introduced to the default compilation flags for Fedora [1], and is preventing `openni_camera` from building on Fedora 21 [2].

For more info on `-Werror=format-security`, see [3]. I think there will be a

[2015-01-22 10:23] ahoarau commented on #31
Precisely.

The default location is perfectly fine as each camera has a unique serial number.

I do not care where the file is (the default location is good), I just want my python script to find the one that is loaded by the driver so we can talk with the same calibration matrices and not be confused by URLs.

My main problem is that I'm switching depth sensors quite often (old kinects, xtions et

[2015-01-22 18:36] jack-oquin commented on #31
The driver _should not_ set its own values in the parameter server. That is not normal ROS driver behavior. Doing that would be strange and surprising for everyone but you. You are free to fork the driver and patch your copy to behave that way, but I do not want to merge that patch into the standard driver.

I still do not understand why you cannot solve this problem by setting the URL in the norm

[2015-01-22 19:03] ahoarau commented on #31
It works, but it should be done **automatically** by the manager.py.
I'm convinced there should be a simpler way to get the camera's calibration data once the driver is launched.
A **_get_camera_info service**_ would work.

[2015-01-22 19:54] jack-oquin commented on #31
Experienced ROS users often start `roscore` before launching applications, so they can leave it,  `rviz` and other utilities running for multiple tests.

If the driver were patched as you suggest, a developer who swaps cameras between tests would be surprised to discover that the new camera is no longer accessible, because the driver had overwritten the empty URL with a string containing the actua

[2015-01-23 10:49] #31 closed, assigned to nobody

[2015-06-18 09:47] furushchev opened #33 "jade release?"
no apt repository in jade release.
Is there any reason/diffs not to release openni related repositories apt?

[2015-06-23 08:35] furushchev commented on #33
ping

[2015-06-24 23:55] jonbinney commented on #33
I'm still on indigo; is there a libopenni-dev package available for ubuntu 15.04? That would need to be released before openni_camera.

[2015-06-25 01:39] jack-oquin commented on #33
Looks like it at least exists: https://launchpad.net/ubuntu/vivid/+package/libopenni-dev

[2015-07-21 21:40] fizzikz commented on #33
To install openni _camera/launch on vivid.
1. First setup your catkin_ws folder, like in the beginner ROS tutorial http://wiki.ros.org/catkin/Tutorials/create_a_workspace
2. Then in your catkin_ws/src folder, git clone the stacks that you need.
1. run rosdep to see if you are missing any dependencies

2. If you are run rosdep install to get all the missing dependencies.

3. then go into your catki

[2015-07-24 03:23] furushchev commented on #33
Thanks all. I know how to install from source, just to know whether it will be released soon on jade, and if not, I'd like to clarify what problem is there.

[2015-07-24 06:36] jonbinney commented on #33
@furushchev the problem is that this package isn't really getting maintained/release by anyone. There's a few reasons, but the biggest are probably:
- this package was primarily for primesense devices, which aren't sold anymore because that company no longer exists
- most people have switched to openni2_camera (for primesense devices) or freenect (for kinects)
- the previous maintainers listed in

[2015-09-07 13:48] lligen opened #36 "Parameters ~image_mode and ~depth_mode still work ? how can i use it"
hi,
I want the kinect to output 320x240 rgb and depth images directly, i tried to set this para in launch file but failed ,
**~image_mode** (int, default: 2)
Image output mode for the color/grayscale image Possible values are: SXGA_15Hz (1): 1280x1024@15Hz, VGA_30Hz (2): 640x480@30Hz, VGA_25Hz (3): 640x480@25Hz, QVGA_25Hz (4): 320x240@25Hz, QVGA_30Hz (5): 320x240@30Hz, QVGA_60Hz (6): 320x240@60Hz,

[2015-09-07 19:32] jack-oquin commented on #36
This question seems more appropriate on http://answers.ros.org

[2015-09-27 07:17] furushchev commented on #33
@jonbinney I'm sorry for very late response, and thank you for clarifying of this problem. OK, I will try to use openni2_camera for a while.

[2015-09-27 07:17] #33 closed, assigned to nobody

[2015-10-17 14:35] vrabaud opened #37 "Release for Jade"
Thx for releasing for Jade

[2015-10-17 15:43] #28 closed, assigned to nobody

[2015-10-17 15:45] 130s commented on #36
Looks like asked and solved http://answers.ros.org/question/217252/how-to-make-openni_camera-package-to-output-320x240-rgb-and-depth-images-directly/

[2015-10-17 15:45] #36 closed, assigned to nobody

[2015-10-17 16:08] 130s commented on #37
Thx for poking. Now it's in flight https://github.com/ros/rosdistro/pull/9664

[2015-10-17 16:08] #37 closed, assigned to nobody

[2015-12-16 15:50] jspricke opened #42 "Push 1.9.4 into ROS indigo/jade"
Hi,

could you please push 1.9.4 into ROS indigo and jade? It only fixes the dependency issue and should be save to push.

Thanks!

Jochen

[2015-12-16 17:28] 130s commented on #42
Done https://github.com/ros/rosdistro/pull/10077 and https://github.com/ros/rosdistro/pull/10078.

Looks like I tagged a release awhile ago but didn't push to rosdistro, don't know why.

[2015-12-16 17:28] #42 closed, assigned to 130s

[2016-02-11 13:10] lepalom opened #43 "openni_camera must be linked against log4cxx"
it works because, in general rosconsole is linked against log4cxx. However, if another backend is used with rosconsole, and no other reference to log4cxx, the library fails because a missing symbols of log4cxx.

So please, link specific to log4cxx library. Patch attached.

[code]

[2016-03-31 23:19] 130s opened #45 "Release into ROS Kinectic"
As of today bloom failed. I don't know what to do to proceed from here. [Google search](https://www.google.com/search?client=ubuntu&channel=fs&q=fedora+24++libusbx-devel+&ie=utf-8&oe=utf-8) doesn't clearly tell me whether the library in question (`libusbx-devel` or similar on version Fedora 24) is already available. It's [missing from rosdep key](https://github.com/ros/rosdistro/blob/a06e822977604

[2016-03-31 23:19] 130s commented on #43
Closed via #44

[2016-03-31 23:19] #43 closed, assigned to nobody

[2016-04-01 16:10] jack-oquin commented on #45
Is this just a missing key, or do we not know how to set it?

@cottsay: can you suggest any pointers for finding corresponding Fedora 24 packages?

[2016-04-02 00:59] 130s commented on #45
The rosdep key for the necessary package for Fedora 24 is missing for sure. What I'm unsure about is if package is already available.
Yeah so input from @cottsay or anyone who's knowledgeable in Fedora is appreciated.

[2016-04-02 01:19] cottsay commented on #45
Looks like `libusbx` is still the right package in f23/f24. I haven't gotten around to adding keys for Kinetic Fedora releases yet.

https://admin.fedoraproject.org/pkgdb/package/rpms/libusbx/

To unblock you, add the same keys as f21/f22:

[code]

Thanks for looping me in instead of skipping Fedora generation.

--scott

[2016-04-04 00:07] 130s commented on #45
Release requested https://github.com/ros/rosdistro/pull/10981
Thank you @jack-oquin @cottsay

[2016-04-04 00:07] #45 closed, assigned to nobody

[2016-05-07 12:03] filipposanfilippo opened #46 "pointcloud data is rotated and flipped"
I set up a gazebo simulation with my robott, on which I mounted a kinect camera at the front link. When launching RViz, the pointcloud data is rotated and flipped. I am using ROS Indigo e Gazebo 2.2.3.

This same problem has been posted also in the following link:
[http://answers.gazebosim.org/question/4266/gazebo-15-libgazebo_openni_kinectso-pointcloud-data-is-rotated-and-flipped/](url)

[2017-04-18 02:15] 130s opened #50 "Release into ROS Lunar"
The change something like https://github.com/ros/rosdistro/pull/14553 for Fedora is needed as of now.
Ref. https://github.com/ros-drivers/openni_camera/issues/45#issuecomment-204623273

[2017-04-18 02:35] 130s commented on #50
https://github.com/ros/rosdistro/pull/14554

[2017-04-18 02:35] #50 closed, assigned to 130s

[2017-04-18 15:32] 130s opened #51 "[ROS Lunar] many gcc warning"
Reported on [ROS buildfarm](http://build.ros.org/job/Ldev__openni_camera__ubuntu_xenial_amd64/1/warnings22Result/package.-753170302/) (thanks to https://github.com/ros/rosdistro/pull/14554#issuecomment-294695869 by @mikaelarguedas):

[code]

[2017-04-24 07:08] 130s commented on #18
@jonbinney Looks like multiple persons confirmed at that time that `rollback_usb` branch solves the issue. If you remember, was there any reason why that branch didn't get merged into the devel branches?

I just pulled the changed in that branch into `indigo-devel` and opened a PR #52.

[2017-04-24 18:22] jonbinney commented on #18
@130s I don't remember any specific reason for not merging this (it was a while ago). Most likely I just didn't have any time back then, judging from when it was.

[2017-04-24 19:53] 130s opened #53 "Consolidate rgbd repositories into a single repo"
Please see https://github.com/ros-drivers/openni_launch/issues/30 and continue discussion there.

[2017-07-11 02:19] blueeaglex opened #54 "'process has died' while executing openni.launch with Kinect1"
Hardware:1.kinect1.0 for xbox360
2.PC with usb2.0
Software: Ubuntu16.04 LTS, ros-kinetic-desktop-full
I tried to excute openni.launch and get these errors:

[code]

I tried the ideas of these links:
http://answers.ros.org/question/53089/ubuntu-1210-groovy-openni-usb30-working/
http://answers.ros.org/question/135266/problem-running-openni_launchlaunch-failed-to-load-nodelet-cameradriver-of-type-ope

[2017-07-11 02:25] 130s commented on #54
Can you try #52 as mentioned in https://github.com/ros-drivers/openni_camera/issues/18#issuecomment-296549664 and see if that fixes your issue?

[2017-07-11 06:25] blueeaglex commented on #54
@130s  I tried. But I got compile error:
` In member function ‘void openni_camera::DriverNodelet::onInitImpl()’:
/home/pdw/dev/openni_catkin_ws/src/openni_camera/src/nodelets/driver.cpp:149:3: error: ‘LoggerPtr’ is not a member of ‘log4cxx’`

[2017-07-11 06:29] blueeaglex commented on #54
@130s
Does  the branch 'rollback_usb' work with kinetic?

[2017-07-11 15:38] 130s commented on #54
Only based on my assumption below with #52, yes it can/might work on ROS Kinetic:
- #52 is targeted to `indigo-devel` branch, which is the latest for this repo.
- [CI result](https://travis-ci.org/ros-drivers/openni_camera/builds/225092148) where Kinetic is tested passed without an issue.
  - This doesn't necessarily mean that every possible usecase is tested though.
  - Note that tests on CI run

[2017-07-12 02:34] blueeaglex commented on #54
@130s
I succeed compiling your commits below with #52.
And I download the openni_launch package.
This time I got a bit different things after I excuted openni.launch:
`[ INFO] [1499826307.214740439]: Number devices connected: 2
[ INFO] [1499826307.214866068]: 1. device on bus 001:11 is a SensorKinect (2ae) from PrimeSense (45e) with serial id ''
[ INFO] [1499826307.214929254]: 2. device on bus 001

[2017-07-12 02:44] blueeaglex commented on #54
@130s
I think I've got something.
It looks like the detectet serial id of SensorKinect is invalid.
It shouldn't be 0 or empty.

[2017-07-13 00:32] blueeaglex commented on #54
@130s  When I compile the code，I see lots of warning like this
![2017-07-13 08-26-43](https://user-images.githubusercontent.com/13675522/28145511-65123e7c-67a5-11e7-901b-50a58400dd3c.png)
Using deprecated functions. Should I install an old version of openni?

[2017-07-13 10:12] blueeaglex commented on #54
@130s I've already got the point.
The function [ OpenNIDriver::updateDeviceList()](https://github.com/ros-drivers/openni_camera/blob/indigo-devel/src/nodelets/driver.cpp#L223) returns two device item when I conect my kinect sensor to my pc. But as you can see,the first one's serial ID is invalid.
![2017-07-13 17-38-04](https://user-images.githubusercontent.com/13675522/28160300-58623dec-67f2-11e7-

[2017-07-14 17:30] fmnoori opened #55 "Failed to load nodelet [/camera/rgb_rectify_mono] of type [image_proc/rectify] even after refreshing the cache: Failed to load library /home/ap4isr/kinetic_workspc/devel/lib//libimage_proc."
[code]

[2017-07-14 19:32] 130s commented on #55
@fmnoori Sorry to sound strict, but please go through [community etiquette](http://wiki.ros.org/Support#Etiquette). In particular, "Please don't send your question more than once" as you've already [reported the same issue](https://github.com/ros-drivers/openni_launch/issues/31#issuecomment-315417089). If I'm wrong then I'm sorry and please explain how different this is.

[2017-07-14 19:32] #55 closed, assigned to nobody

[2017-07-14 21:16] fmnoori commented on #55
Sorry, my bad.  I will take care next time. :)

[2017-07-20 02:37] blueeaglex commented on #54
This issue finally comes to an end. @fmnoori
All problems come from that I ever installed  http://github.com/avin2/SensorKinect.git
There was no need for this driver.
After I uninstalled the driver,there was no output of 'device on bus XXX is a SensorKinect' with a invalid serial id any more but only a normal 'Xbox NUI Camera' with an valid serial id.
Topic solved for now. :)
But it is still hard

[2018-01-06 20:07] 130s opened #59 "moving launch files for processing nodelets to a driver independent package"
<a href="https://github.com/piyushk"><img src="https://avatars3.githubusercontent.com/u/1686279?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [piyushk](https://github.com/piyushk)**
_Tuesday Jul 30, 2013 at 16:36 GMT_
_Originally opened as https://github.com/ros-drivers/openni_launch/issues/5_

----

@jonbinney @bit-pirate

I have moved launch files to a separate rgbd_

[2018-01-06 20:07] 130s commented on #59
<a href="https://github.com/jonbinney"><img src="https://avatars0.githubusercontent.com/u/1538056?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jonbinney](https://github.com/jonbinney)**
_Thursday Aug 01, 2013 at 23:00 GMT_

----

Very cool. I just ran openni_launch and it worked great. We probably want some way for users to find the new launchfiles. For instance, i

[2018-01-06 20:07] 130s commented on #59
<a href="https://github.com/bit-pirate"><img src="https://avatars2.githubusercontent.com/u/1136833?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bit-pirate](https://github.com/bit-pirate)**
_Thursday Aug 01, 2013 at 23:14 GMT_

----

Hm, sounds like too much extra work to me. I would just intentionally break anyone's launch files and leave a text file there containi

[2018-01-06 20:07] 130s commented on #59
<a href="https://github.com/jonbinney"><img src="https://avatars0.githubusercontent.com/u/1538056?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jonbinney](https://github.com/jonbinney)**
_Friday Aug 02, 2013 at 00:04 GMT_

----

An underscore sounds like a good idea to let people know the launchfiles are private.

If we just have a text file to let people know that

[2018-01-06 20:07] 130s commented on #59
<a href="https://github.com/bit-pirate"><img src="https://avatars2.githubusercontent.com/u/1136833?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bit-pirate](https://github.com/bit-pirate)**
_Friday Aug 02, 2013 at 00:23 GMT_

----

What about we rename them to: `_somelauncher.xml` In this way they won't show up in the tab completion and we already introduce the "und

[2018-01-06 20:07] 130s commented on #59
<a href="https://github.com/piyushk"><img src="https://avatars3.githubusercontent.com/u/1686279?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [piyushk](https://github.com/piyushk)**
_Friday Aug 02, 2013 at 00:27 GMT_

----

All these suggestions sound great. I'll write a small node that displays a
fatal message about the launch file being moved.

I have some other wo

[2018-01-06 20:07] 130s commented on #59
<a href="https://github.com/jonbinney"><img src="https://avatars0.githubusercontent.com/u/1538056?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jonbinney](https://github.com/jonbinney)**
_Friday Aug 02, 2013 at 00:31 GMT_

----

With the node that displays the fatal message, I'm ok with releasing this
into hydro. I think that most people use only the toplevel launch

[2018-01-06 20:07] 130s commented on #59
<a href="https://github.com/piyushk"><img src="https://avatars3.githubusercontent.com/u/1686279?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [piyushk](https://github.com/piyushk)**
_Monday Aug 12, 2013 at 20:45 GMT_

----

@jonbinney @bit-pirate @vrabaud

I've updated all 3 packages based on the current discussion. Try merging/updating from the original rosinstall f

[2018-01-06 20:07] 130s commented on #59
<a href="https://github.com/piyushk"><img src="https://avatars3.githubusercontent.com/u/1686279?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [piyushk](https://github.com/piyushk)**
_Thursday Aug 22, 2013 at 05:50 GMT_

----

Hey folks! I have released a new version of freenect_launch and rgbd_launch that solves #5, #6 and #7. If you can test the system release of fr

[2018-01-06 20:07] 130s commented on #59
<a href="https://github.com/bit-pirate"><img src="https://avatars2.githubusercontent.com/u/1136833?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bit-pirate](https://github.com/bit-pirate)**
_Thursday Aug 22, 2013 at 06:22 GMT_

----

Here is a small update on the launch includes naming: https://github.com/ros/ros_comm/issues/254
We are applying the same rule to Kobu

[2018-01-06 20:07] 130s commented on #59
<a href="https://github.com/bit-pirate"><img src="https://avatars2.githubusercontent.com/u/1136833?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bit-pirate](https://github.com/bit-pirate)**
_Thursday Aug 22, 2013 at 06:23 GMT_

----

@piyushk Could you please name the remaining things you like us to test?

[2018-01-06 20:07] 130s commented on #59
<a href="https://github.com/piyushk"><img src="https://avatars3.githubusercontent.com/u/1686279?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [piyushk](https://github.com/piyushk)**
_Thursday Aug 22, 2013 at 21:38 GMT_

----

@bit-pirate I have opened up #8

rgbd_launch is now available as a deb package. Can you verify that the pull request works for you, and that it

[2018-01-06 20:07] 130s commented on #59
<a href="https://github.com/bit-pirate"><img src="https://avatars2.githubusercontent.com/u/1136833?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bit-pirate](https://github.com/bit-pirate)**
_Monday Aug 26, 2013 at 00:35 GMT_

----

@piyushk I have tested your PR and I can confirm that it fixes #6 and #7.
My test included the quick start instructions.

[2018-01-06 20:07] 130s commented on #59
<a href="https://github.com/jonbinney"><img src="https://avatars0.githubusercontent.com/u/1538056?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jonbinney](https://github.com/jonbinney)**
_Monday Aug 26, 2013 at 00:43 GMT_

----

I'll go ahead and merge https://github.com/ros-drivers/openni_launch/pull/8 (i don't have an asus right now to test, but sounds like you gu

[2018-01-06 20:07] 130s commented on #59
<a href="https://github.com/jonbinney"><img src="https://avatars0.githubusercontent.com/u/1538056?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jonbinney](https://github.com/jonbinney)**
_Monday Aug 26, 2013 at 01:13 GMT_

----

Just released openni_launch into hydro: https://github.com/ros/rosdistro/pull/1857

[2018-01-06 20:07] 130s opened #60 "No point cloud when using hardware depth registration"
<a href="https://github.com/bit-pirate"><img src="https://avatars2.githubusercontent.com/u/1136833?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bit-pirate](https://github.com/bit-pirate)**
_Sunday Aug 11, 2013 at 23:26 GMT_
_Originally opened as https://github.com/ros-drivers/openni_launch/issues/7_

----

When turning on hardware depth registration both the unregist

[2018-01-06 20:07] 130s commented on #60
<a href="https://github.com/bit-pirate"><img src="https://avatars2.githubusercontent.com/u/1136833?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bit-pirate](https://github.com/bit-pirate)**
_Tuesday Aug 13, 2013 at 10:40 GMT_

----

OK, the solution is actually quite simple. The new version uses the hardware depth registration argument (`depth_registration`) to deci

[2018-01-06 20:07] 130s commented on #60
<a href="https://github.com/bit-pirate"><img src="https://avatars2.githubusercontent.com/u/1136833?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bit-pirate](https://github.com/bit-pirate)**
_Tuesday Aug 13, 2013 at 11:21 GMT_

----

Aish! This openni launcher really can give me headaches! :-)

If we remove the `depth_registration` arg from the processing modules, we

[2018-01-06 20:07] 130s commented on #60
<a href="https://github.com/piyushk"><img src="https://avatars3.githubusercontent.com/u/1686279?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [piyushk](https://github.com/piyushk)**
_Tuesday Aug 13, 2013 at 14:19 GMT_

----

@vrabaud Were you using dynamic reconfigure to set the parameter, or just setting the parameter at the node level I've been testing only using t

[2018-01-06 20:07] 130s commented on #60
<a href="https://github.com/piyushk"><img src="https://avatars3.githubusercontent.com/u/1686279?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [piyushk](https://github.com/piyushk)**
_Wednesday Aug 14, 2013 at 16:35 GMT_

----

@bit-pirate I just looked at your code and extended the same idea to disparity. I think it's working, though I am not sure what the best way t

[2018-01-06 20:07] 130s commented on #60
<a href="https://github.com/brotherxiang00"><img src="https://avatars3.githubusercontent.com/u/7064049?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [brotherxiang00](https://github.com/brotherxiang00)**
_Tuesday Mar 25, 2014 at 23:03 GMT_

----

@bit-pirate Hi, I encounter the same problem following instruction on http://wiki.ros.org/openni_launch.

When rosrun image

[2018-01-06 20:07] 130s opened #61 "Error with Kinect using standalone OpenNI only after installing openni_launch for ROS too"
<a href="https://github.com/lynncodd"><img src="https://avatars1.githubusercontent.com/u/5685346?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [lynncodd](https://github.com/lynncodd)**
_Thursday Nov 07, 2013 at 18:06 GMT_
_Originally opened as https://github.com/ros-drivers/openni_launch/issues/12_

----

32 bit Ubuntu 12.04 LTS

Installed OpenNI v1.5.4.0
Installed NIT

[2018-01-06 20:07] 130s commented on #61
<a href="https://github.com/piyushk"><img src="https://avatars3.githubusercontent.com/u/1686279?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [piyushk](https://github.com/piyushk)**
_Thursday Nov 14, 2013 at 21:34 GMT_

----

@lynncodd I have never tested the Kinect driver with a 32 bit system, so I cannot comment if the groovy driver ever worked correctly on it or i

[2018-01-06 20:07] 130s opened #62 "No Data by using Depth_Registration"
<a href="https://github.com/brotherxiang00"><img src="https://avatars3.githubusercontent.com/u/7064049?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [brotherxiang00](https://github.com/brotherxiang00)**
_Tuesday Mar 25, 2014 at 23:05 GMT_
_Originally opened as https://github.com/ros-drivers/openni_launch/issues/14_

----

I am following instruction on http://wiki.ros.o

[2018-01-06 20:07] 130s commented on #62
<a href="https://github.com/jonbinney"><img src="https://avatars0.githubusercontent.com/u/1538056?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jonbinney](https://github.com/jonbinney)**
_Wednesday Mar 26, 2014 at 00:04 GMT_

----

Hi @brotherxiang00 - I haven't used openni_launch in a while so I'm not sure what this might be. You'll probably have better luck asking

[2018-01-06 20:07] 130s commented on #62
<a href="https://github.com/brotherxiang00"><img src="https://avatars3.githubusercontent.com/u/7064049?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [brotherxiang00](https://github.com/brotherxiang00)**
_Wednesday Mar 26, 2014 at 00:23 GMT_

----

@jonbinney Thanks for your reply. I asked on ROS answers, but no reply..

[2018-01-06 20:07] 130s opened #63 "Problem with IR image"
<a href="https://github.com/jokla"><img src="https://avatars2.githubusercontent.com/u/6526050?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jokla](https://github.com/jokla)**
_Wednesday Sep 02, 2015 at 08:35 GMT_
_Originally opened as https://github.com/ros-drivers/openni_launch/issues/20_

----

Hi,

I'm trying to [calibrate the Kinect depth camera to the built-in RG

[2018-01-06 20:07] 130s opened #64 "No data received"
<a href="https://github.com/arunavanag591"><img src="https://avatars1.githubusercontent.com/u/11879643?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [arunavanag591](https://github.com/arunavanag591)**
_Thursday Nov 12, 2015 at 05:31 GMT_
_Originally opened as https://github.com/ros-drivers/openni_launch/issues/22_

----

After copying the source file to my catkin_ws an

[2018-01-06 20:07] 130s commented on #64
<a href="https://github.com/UnexpectedGinger"><img src="https://avatars3.githubusercontent.com/u/25805356?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [UnexpectedGinger](https://github.com/UnexpectedGinger)**
_Tuesday Feb 21, 2017 at 18:54 GMT_

----

Im having the same issue now, but without errors. Were you able to resolve this? If so, how?

[2018-01-06 20:07] 130s opened #65 "Consolidate rgbd repositories into a single repo"
<a href="https://github.com/130s"><img src="https://avatars0.githubusercontent.com/u/1840401?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [130s](https://github.com/130s)**
_Monday Apr 24, 2017 at 19:51 GMT_
_Originally opened as https://github.com/ros-drivers/openni_launch/issues/30_

----

The following repositories contain a single package. I suggest to create a new

[2018-01-06 20:07] 130s commented on #65
<a href="https://github.com/piyushk"><img src="https://avatars3.githubusercontent.com/u/1686279?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [piyushk](https://github.com/piyushk)**
_Monday Apr 24, 2017 at 20:53 GMT_

----

I understand the issues with extra maintenance effort. If you would prefer, you can also merge `freenect_*` into a meta repo as well.

I also rec

[2018-01-06 20:07] 130s commented on #65
<a href="https://github.com/130s"><img src="https://avatars0.githubusercontent.com/u/1840401?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [130s](https://github.com/130s)**
_Monday Apr 24, 2017 at 21:11 GMT_

----

@piyushk I'm only doing the release tasks for these packages so feedback from actual developers like you is appreciated.

Do you mean to include `freenect

[2018-01-06 20:07] 130s commented on #65
<a href="https://github.com/piyushk"><img src="https://avatars3.githubusercontent.com/u/1686279?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [piyushk](https://github.com/piyushk)**
_Monday Apr 24, 2017 at 21:21 GMT_

----

@130s Thanks for spending time releasing!

Yes, that is exactly what I meant!

[2018-01-06 20:07] 130s commented on #65
<a href="https://github.com/130s"><img src="https://avatars0.githubusercontent.com/u/1840401?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [130s](https://github.com/130s)**
_Tuesday Apr 25, 2017 at 01:21 GMT_

----

I see.

@piyushk could you provide one more feedback? A caveat I can think of by the unified release from the aggregated repo is that all packages need t

[2018-01-06 20:07] 130s commented on #65
<a href="https://github.com/piyushk"><img src="https://avatars3.githubusercontent.com/u/1686279?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [piyushk](https://github.com/piyushk)**
_Tuesday Apr 25, 2017 at 01:34 GMT_

----

That's the only repository. There are multiple packages inside it.

I would recommend `2.1.4` across all of them, since this change maintains ba

[2018-01-06 20:07] 130s commented on #65
<a href="https://github.com/mintar"><img src="https://avatars2.githubusercontent.com/u/320188?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mintar](https://github.com/mintar)**
_Tuesday May 30, 2017 at 11:50 GMT_

----

What about openni2_camera and openni2_launch? openni2_launch also depends on rgbd_launch, so by that logic it should also go into that merged repo.

[2018-01-06 20:13] 130s commented on #65
Issue mover script ended in the middle so not all comments were moved. I don't know why. I completed the original ticket anyway, so closing.

[2018-01-06 20:13] #65 closed, assigned to nobody

[2018-01-14 02:35] 130s opened #66 "ROS Lunar release disabled (since 1.11.0)"
https://github.com/ros-drivers/openni_camera/pull/58 injected a test dependency on `turtlebot_description` that's not (yet) available on ROS Lunar. This prevents a newer version of this package suite from being released.

Since there's no guarantee for turtlebot pkgs to be released on Lunar onward, this dependency (even test_depend) needs to be removed.

[2018-04-24 15:05] josephcoombe commented on #46
I believe this answer solves your issue: https://answers.ros.org/question/232534/gazebo-camera-frame-is-inconsistent-with-rviz-opencv-convention/?answer=232562#post-id-232562

[2018-07-03 15:57] Kaju-Bubanja commented on #13
I have another issue and I'm wondering if it is connected somehow to this bug or not. I get a normal depth image and pointcloud when looking at them in rviz. But counting the nan values 1/3 of all points are nan. Is this normal or is this way to much and a bug? The strange thing is you would think 1/3 nan points should be visible in rviz, but both the depth image and the pointcloud look like there

[2018-08-01 20:33] TanayaBhave commented on #54
@blueeaglex How to uninstall the driver ? Could you please tell me the command

[2018-08-25 05:22] leocorp96 commented on #54
@TanayaBhave
In the {/home/user/SensorKinect/Platform/Linux/Redist/Sensor-Bin-Linux-x64-v5.1.2.1} directory, run;
sudo ./install.sh -u

[2018-08-25 05:24] leocorp96 commented on #54
@blueeaglex
The camera_nodelet_manager dies when I subscribe to any topic using RViz. Any ideas how to solve this issue?

[2018-08-29 14:54] DLu opened #68 "Melodic Release?"

[2018-09-12 08:44] k-okada commented on #68
@130s if you can not release this to newer rosdistro (melodic), can someone @wjwwood ? @dirk-thomas ? give me write access to this repository and https://github.com/ros-gbp/openni_camera-release, so that I can release as a ROS Orphaned Package Maintainer initiatives ?

[2018-09-13 04:57] 130s commented on #68
- No update in the default branch since the last release to previous releases.
- There's no blocker for releasing `openni_camera` according to [repositories.ros.org](http://repositories.ros.org/status_page/blocked_releases_melodic.html?q=openni_camera&s=6&r=1).

With that, I just ran bloom. Then got a following error. Since this is easy to be fixed I'll create an immediate patch and re-run bloom s

[2018-09-13 08:44] #68 closed, assigned to nobody

[2018-09-13 09:00] 130s commented on #68
Release made https://github.com/ros/rosdistro/pull/19117

[2018-09-13 09:01] 130s commented on #53
https://github.com/ros-drivers/openni_launch/issues/30 is closed so this can also be closed I think.

[2018-09-13 09:01] #53 closed, assigned to nobody

[2018-09-13 09:05] 130s commented on #66
https://github.com/ros-drivers/openni_camera/pull/70 cleared up the issue and now the packages in this repo are back to release-able state into Lunar onward. So a new release made to Lunar https://github.com/ros/rosdistro/pull/19118.

[2018-09-13 09:05] #66 closed, assigned to nobody

[2018-09-20 11:24] Wleisure95 commented on #54
我也是，你解决了吗？求教

[2018-09-22 00:21] 130s commented on #54
@blueeaglex Thanks for tracking the issue down!

I'm not exactly sure what you mean by this, but IMO the dependency on the proprietary driver is defined in [package.xml in this line](https://github.com/ros-drivers/openni_camera/blob/e898a88022efbc41b8d73bbb147235429afe254c/openni_camera/package.xml#L31) so that it automatically gets installed by standard installation process (e.g. on Ubuntu, `apt-

[2018-09-22 00:21] #54 closed, assigned to nobody

[2018-09-28 13:38] TodayWantToStudy opened #71 "How to get registered depth camera data in gazebo?"
[https://github.com/ros-drivers/openni_camera/blob/indigo-devel/openni_description/model/kinect_gazebo.urdf.xacro](url)

Hello!
    I found the kinect_gazebo.urdf.xacro file in openni_camera/openni_description/model.
We can change the name of ros topics in gazebo by editing this topic.
However there are just five topics about camera in the gazebo.
I need to get the  registered depth data from came

[2019-03-28 17:43] OrBeProgrammed opened #73 "ROS Melodic on RockPro64 - no devices connnected"
Problem with: roslaunch openni_launch openni.launch
ROS Melodic installed from source on RockPro64 board on Ubuntu 18.04.

I suspect this is due to not having the driver installed properly, which I seem to be unable to install on this platform. The SensorKinect driver installation results in the system telling me the arch64 or something like that, is not found. I assume that means the driver is no

[2019-05-14 03:30] BrainPotter commented on #63
Did you solve this problem already? I met the same error as you mentioned.

[2019-08-02 01:03] GrantDare opened #74 "Command invalid when launching on ros kinetic"
I was happily using my kinect 360 with this package and then received this error, now will no longer work...

[code]

[2019-09-14 18:48] JIJI1555 opened #75 "Please Help! nodelet: /usr/include/boost/smart_ptr/shared_ptr.hpp:728: typename boost::detail::sp_dereference::type boost::shared_ptr::operator*() const [with T = xn::NodeInfo; typename boost::detail::sp_dereference::type = xn::NodeInfo&]: Assertion `px != 0' failed."
Hi, I am new to ROS. I'm using raspberry pi 3B+ connected to Kinect Xbox 360 running on Ubuntu Mate 18.04, ROS Melodic.
Initially, when i 'roslaunch openni_launch openni.launch'
Error: No matching device found.... waiting for devices. Reason: openni_wrapper::OpenNIDevice::OpenNIDevice(xn::Context&, const xn::NodeInfo&, const xn::NodeInfo&, const xn::NodeInfo&, const xn::NodeInfo&) @ /home/pi/catki

[2020-03-10 23:24] tdam2112 opened #76 "OpenNI compatibility with CSI-2 connection?"
I have a camera connected on a Jetson AGX Xavier via CSI-2 port, It is my understanding that it should be compatible with OpenNI but I'm not sure how to make it recognisable.
I'm running ROS Melodic on ubuntu 18.04 with OpenNI installed and all the drivers for the camera installed as well
I get the following error when running openni.launch:
[ INFO] [1583882602.306930315]: No devices connected....

[2021-06-02 15:35] bingxiangniu commented on #21
sorry

[2021-06-25 23:16] a-gos commented on #63
Hi, same error here, did you find any solution?

[2021-09-17 09:25] travoltagumbie commented on #75
AM having the same issue exactly as yours. Still trying to figure out a way around it. Its a hectic one

[2022-04-08 01:16] knorth55 opened #77 "Noetic release request"
@130s
Thank you for this useful package.
Are there any plan to release this package in Noetic?
If you have no time, I can help you for noetic release.

[2022-04-12 10:37] 130s commented on #77
Thank you for the headsup. Release of 1.6.0 is made on openni2_camera side.
.deb generation is requested in https://github.com/ros/rosdistro/pull/32739
Closing for now.

[2022-04-12 10:41] 130s commented on #77
I'm sorry https://github.com/ros-drivers/openni_camera/issues/77#issuecomment-1096551058 was about openni2. Re-opening.

@knorth55 If you have verified the functionality of the pkgs on this repo on ROS noetic, wolud you mind opening a PR, had there been any code change needed to get it working? I just made `ros1` branch off of `indigo-devel`, which I intend to use as the main development branch fo

[2022-04-12 11:13] 130s commented on #77
@knorth55 On a separate note, I added a maintainer right on this repo. Thank you for stepping up! Feel free to add yourself in `package.xml`.

[2022-04-12 11:17] knorth55 commented on #77
@130s thank you! I will check for noetic!

[2022-04-13 13:09] knorth55 commented on #77
I checked with the current branch, and it works in Noetic + Kinect.
![Screenshot from 2022-04-13 22-08-00](https://user-images.githubusercontent.com/9300063/163187272-12627174-0f27-4355-9d77-f90f1bcde34c.png)

[2022-04-13 13:11] knorth55 commented on #77
@130s can you change the default branch from `indigo-devel` to `ros1` and give access to `ros-gbp/openni_camera-release`?
https://github.com/ros-gbp/openni_camera-release

[2022-04-13 13:34] knorth55 commented on #77
Thanks to #67, python3 is already supported.

[2022-04-15 09:47] 130s commented on #77
Thank you!  Because of the confirmation you made, I don't feel a necessity to cut another version release on this repo. What's needed instead is to publish into a new ROS distro i.e. Noetic, which is requested https://github.com/ros/rosdistro/pull/32783 (using `bloom`).

Done and done.

[2022-04-15 09:47] #77 closed, assigned to nobody

[2022-04-15 10:04] knorth55 commented on #77
You released the current version in Noetic! Perfect! Thank you!!